html, body {
    margin:0;
	padding:0;
}
body {
    background-color: #ecf0f1;
}

header#master {
    padding:25px 0px;
    background: linear-gradient(to bottom right, #1abc9c, 75%, #4aa3df);
    text-align: center;
}

#logo {
    height: 10%;
    width: 20%;
}

#main-corps-line{
    margin:auto;
    overflow: inherit;
}
main{
    text-align: center;
}

.content-column {
    width:80%;
	background-color:#ecf0f1;
	margin: auto;
    padding:25px;

}

#aside-column{
    width: 22%;
    height: 100%;
    background-color:#ecf0f1;
    float: right;    
}

#main-column{
    width: 72%;
    background-color:#ecf0f1;
	float:left;
}

#logo {
    text-align: left;
}

nav{
    float: right;
}


main {
    height:100%;
    width:100%;
    margin:auto;
    background-color: #4aa3df;
    padding:25px 0px;

}


.corps {
    overflow:auto;
    margin: auto;
    padding:25px;
    width: 80%;
}

.corps-line{
    margin:auto;
    height: 100%;
    overflow: inherit;
}
.column-right .column-left {
    display: inline-block;
    vertical-align: top;
}
.column-left {
    float:left;
    width:50%;
}
.column-right {
    overflow:auto;
}


.gif-animaux {
    width: 50px;
    frameBorder: 0;
    text-align: center;
}

.def-animaux {
    font-family: Arial;
}

footer#master {
    padding:25px 0px;
    background: linear-gradient(to top right, #4aa3df, 25%, #1abc9c );
    text-align: center;
}
