html, body {
    margin:0;
	padding:0;
}
body {
    background-color: #ecf0f1;
}


header.master {
    padding:25px 0px;
    text-align: center;
}

p{
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    text-align: justify;
}
#main-header{
    display: inline-block;
    width: 100%;
}
nav{
    margin-top:2%;
}
h1, nav{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    font-size: 42px;
    text-align: center;
    display: inline-block;
}
h2{
    font-size: 30px;
}

#logo {
    height: 10%;
    width: 20%;
}

#main-corps-line{
    margin:auto;
    overflow: inherit;
    padding:3%;
}

.content-column {
    max-width:80%;
	background-color:#fbfcfc;
	margin: auto;
    padding:35px;
    border-radius: 100px 10px / 200px;
    box-shadow: 3px 3px 7px 6px rgba(52,73,94,0.23);
}

#aside-column{
    width: 25%;
    height: 100%;
    background-color:#fbfcfc;
    float: right;
    border-radius: 10px 100px / 200px;
    box-shadow: 3px 3px 7px 6px rgba(52,73,94,0.23);
}

#main-column{
    width: 72%;
    background-color:#fbfcfc;
    float:left;
    border-radius: 100px 10px / 200px;
    box-shadow: 3px 3px 7px 6px rgba(52,73,94,0.23);
}

.logo {
    float: left;
    width: 20%;
    height: 100%;
    vertical-align: middle;
    margin-top: 1.6%;
    margin-left: 1.5%;
}
.img-defil{
    width: 50%;
    display: none;
}

ul {
  list-style-type: none;
  margin: 20px 20px 0px 0px;
  padding: 0px 0px 0px 10px;

  width: 75%;
  float: right;
  border-radius: 10px 100px / 200px;
  box-shadow: 3px 3px 7px 6px rgba(52,73,94,0.23);
}

li {
  float: left;
  font-size: 25px;
  min-width: 15%

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  height: 100%;
}


main {
    height:100%;
    width:100%;
    margin:auto;
    padding:25px 0px;
    text-align: center;
}


.corps {
    overflow:auto;
    margin: auto;
    padding:1% 4% 1% 5%;
    width: 88%;
}
.corps-aside{
    margin: 15px;
}
.corps-line{
    margin:auto;
    height: 100%;
    overflow: inherit;
}
.column-right .column-left {
    display: inline-block;
    vertical-align: top;
}
.column-left {
    float:left;
    width:50%;
}
.column-right {
    overflow:auto;
}


.gif-animaux {
    height: 100px;
    text-align: center;
}

.def-animaux {
    font-family: Arial;
}

.floating-top{
    position: fixed;
    top: 89%;
    left: 94%;
}

img.floating-top{
    width: 5%;
}
img.floating-top:hover{
    opacity: 0.7;
}

footer.master {
    padding:25px 0px;
    text-align: center;
}
