html {
    height:100%;
}
body {
    background-color: #ecf0f1;
    height:100%;

}

header#master {
    background-color: #cbd0d3;
    text-align: center;
}

#logo {
    height: 10%;
    width: 20%;
}

main {
    height:100%;
    width:100%;
    margin:auto
}

.section-articlep {
    background-color:#ff0000;
    height:50px;
}

.section-articlei {
    float:left;
    background-color:#00ff00;
    width:50%;
    height:50%;
}

.gif-animaux {
    width: 50px;
    frameBorder: 0;
    text-align: center;
}

.def-animaux {
    font-family: Arial;
}

footer#master {
    background-color: #cbd0d3;
    text-align: center;
}