@font-face {
  font-family: "Asiago";
  src: url("./font/Asiago.ttf");
}
@font-face{
    font-family: "EuropeUndergroundBlack";
    src: url("./font/EuropeUnderground_black.ttf");
}
@font-face{
    font-family: "Tambsm";
    src: url("./font/tambsm.ttf");
}
header#master.asie{
    background: linear-gradient(#e67e22, 75%, #ea6153);
}

main.asie{
    background: linear-gradient(#ea6153, 25%, #c0392b, 75%, #ea6153);
}

footer#master.asie{
    background: linear-gradient(#ea6153, 25%, #e67e22 );
}

h1.asie, h2.asie, h3.asie{
	color: #ea6153;
}
span.asie, h2.asie, h3.asie {
	font-family:Asiago;
}
ul.asie{
	background-color: #e67e22;
}
li a:hover.asie{
	background-color: #ea6153;
}
li.asie#active{
  background-color: #c0392b;
}


header#master.europe{
    background: linear-gradient(#1abc9c, 75%, #339dff);
}

main.europe{
    background: linear-gradient(#339dff, 25%, #2980b9, 75%, #339dff);
}

footer#master.europe{
    background: linear-gradient(#339dff, 25%, #1abc9c );
}
h1.europe, h2.europe, h3.europe{
	color: #339dff;
}
span.europe, h2.europe, h3.europe {
	font-family:EuropeUndergroundBlack;
}
ul.europe{
	background-color: #1abc9c;
}
li a:hover.europe{
	background-color: #339dff;
}
li.europe#active{
  background-color: #2980b9;
}

header#master.oceanie{
    background: linear-gradient(#a66bbe, 75%, #9b50ba);
}

main.oceanie{
    background: linear-gradient(#9b50ba, 25%, #8e44ad, 75%, #9b50ba);
}

footer#master.oceanie{
    background: linear-gradient(#9b50ba, 25%, #a66bbe );
}
h1.oceanie, h2.oceanie, h3.oceanie{
	color: #9b50ba;
}
span.oceanie, h2.oceanie, h3.oceanie {
	font-family:Tambsm;
}
ul.oceanie{
	background-color: #a66bbe;
}
li a:hover.oceanie{
	background-color: #9b50ba;
}
li.oceanie#active{
  background-color: #8e44ad;
}