//colors
$color_asie1: #e67e22;
$color_asie2: #ea6153;
$color_asie3: #c0392b;
$color_europe1: #4aa3df;
$color_europe2: #339dff;
$color_europe3: #2980b9;
$color_oceanie1: #a66bbe;
$color_oceanie2: #9b50ba;
$color_oceanie3: #8e44ad;
$color_home1: #40d47e;
$color_home2: #2cc36b;
$color_home3: #16a085;
$color_whity: #fbfcfc;

//resources/fonts
$font_asie: "Asiago";
$font_europe: "EuropeUndergroundBlack";
$font_oceanie: "Tambsm";
$font_home: "Josefin Sans";

//urls
$url_asiew2: url("./resources/font/Asiago.woff2");
$url_asiew: url("./resources/font/Asiago.woff");
$url_asiet: url("./resources/font/Asiago.ttf");
$url_europew2: url("./resources/font/EuropeUnderground_black.woff2");
$url_europew: url("./resources/font/EuropeUnderground_black.woff");
$url_europet: url("./resources/font/EuropeUnderground_black.ttf");
$url_oceaniew2: url("./resources/font/tambsm.woff2");
$url_oceaniew: url("./resources/font/tambsm.woff");
$url_oceaniet: url("./resources/font/tambsm.ttf");
$url_homew2: url("./resources/font/JosefinSans-Regular.woff2");
$url_homew: url("./resources/font/JosefinSans-Regular.woff");
$url_homet: url("./resources/font/JosefinSans-Regular.ttf");

@font-face {
	font-family: $font_asie;
	src: $url_asiew2 format('woff2'), $url_asiew format('woff'), $url_asiet format('truetype');
}
@font-face {
	font-family: $font_europe;
	src: $url_europew2 format('woff2'), $url_europew format('woff'), $url_europet format('truetype');
}
@font-face {
	font-family: $font_oceanie;
	src: $url_oceaniew2 format('woff2'), $url_oceaniew format('woff'), $url_oceaniet format('truetype');
}
@font-face {
	font-family: $font_home;
	src: $url_homew2 format('woff2'), $url_homew format('woff'), $url_homet format('truetype');
}
main {
	&.asie {
		background: linear-gradient($color_asie2 25%, $color_asie3 75%, $color_asie2);
	}
	&.europe {
		background: linear-gradient($color_europe2 25%, $color_europe3 75%, $color_europe2);
	}
	&.oceanie {
		background: linear-gradient($color_oceanie2 25%, $color_oceanie3 75%, $color_oceanie2);
	}
	&.home {
		background: linear-gradient($color_home2 25%, $color_home3 75%, $color_home2);
	}
}
h1 {
	&.asie {
		color: $color_asie2;
	}
	&.europe {
		color: $color_europe2;
	}
	&.oceanie {
		color: $color_oceanie2;
	}
	&.home {
		color: $color_home2;
	}
}
h2 {
	&.asie {
		color: $color_asie2;
		font-family: $font_asie;
	}
	&.europe {
		color: $color_europe2;
		font-family: $font_europe;
	}
	&.oceanie {
		color: $color_oceanie2;
		font-family: $font_oceanie;
	}
	&.home {
		color: $color_home2;
		font-family: $font_home;
	}
}
h3 {
	&.asie {
		color: $color_asie2;
		font-family: $font_asie;
	}
	&.europe {
		color: $color_europe1;
		font-family: $font_europe;
	}
	&.oceanie {
		color: $color_oceanie2;
		font-family: $font_oceanie;
	}
	&.home {
		color: $color_home2;
		font-family: $font_home;
	}
}
span {
	&.asie {
		font-family: $font_asie;
	}
	&.europe {
		font-family: $font_europe;
	}
	&.oceanie {
		font-family: $font_oceanie;
	}
	&.home {
		font-family: $font_home;
	}
}
ul {
	&.asie {
		background-color: $color_asie1;
	}
	&.europe {
		background-color: $color_europe1;
	}
	&.oceanie {
		background-color: $color_oceanie1;
	}
	&.home {
		background-color: $color_home1;
	}
}
li {
	a:hover {
		&.asie {
			background-color: $color_asie2;
		}
		&.europe {
			background-color: $color_europe2;
		}
		&.oceanie {
			background-color: $color_oceanie2;
		}
		&.home {
			background-color: $color_home2;
		}
	}
	&.asie#active {
		background-color: $color_asie3;
	}
	&.europe#active {
		background-color: $color_europe3;
	}
	&.oceanie#active {
		background-color: $color_oceanie3;
	}
	&.home#active {
		background-color: $color_home3;
	}
}
a {
	&.asie-lo {
		&:link {
			color: $color_asie1;
		}
		&:visited {
			color: $color_asie1;
		}
		&:hover {
			color: $color_asie2;
		}
		&:active {
			color: $color_asie3;
		}
	}
	&.europe-lo {
		&:link {
			color: $color_europe1;
		}
		&:visited {
			color: $color_europe1;
		}
		&:hover {
			color: $color_europe2;
		}
		&:active {
			color: $color_europe3;
		}
	}
	&.oceanie-lo {
		&:link {
			color: $color_oceanie1;
		}
		&:visited {
			color: $color_oceanie1;
		}
		&:hover {
			color: $color_oceanie2;
		}
		&:active {
			color: $color_oceanie3;
		}
	}
	&.home-lo {
		&:link {
			color: $color_home1;
		}
		&:visited {
			color: $color_home1;
		}
		&:hover {
			color: $color_home2;
		}
		&:active {
			color: $color_home3;
		}
	}
}
.scroller {
	overflow-y: scroll;
	scrollbar-width: thin;
	&.asie {
		scrollbar-color: $color_asie3 $color_asie1;
	}
	&.europe {
		scrollbar-color: $color_europe3 $color_europe1;
	}
	&.oceanie {
		scrollbar-color: $color_oceanie3 $color_oceanie1;
	}
	&.home {
		scrollbar-color: $color_home3 $color_home1;
	}
}
html {
	&.asie {
		*::-moz-selection {
			background-color: $color_asie1;
			color: $color_whity;
		}
		*::selection {
			background-color: $color_asie1;
			color: $color_whity;
		}
	}
	&.europe {
		*::-moz-selection {
			background-color: $color_europe1;
			color: $color_whity;
		}
		*::selection {
			background-color: $color_europe1;
			color: $color_whity;
		}
	}
	&.oceanie {
		*::-moz-selection {
			background-color: $color_oceanie1;
			color: $color_whity;
		}
		*::selection {
			background-color: $color_oceanie1;
			color: $color_whity;
		}
	}
	&.home {
		*::-moz-selection {
			background-color: $color_home1;
			color: $color_whity;
		}
		*::selection {
			background-color: $color_home1;
			color: $color_whity;
		}
	}
}
header.master {
	&.asie {
		background: linear-gradient($color_asie1 75%, $color_asie2);
	}
	&.europe {
		background: linear-gradient($color_europe1 75%, $color_europe2);
	}
	&.oceanie {
		background: linear-gradient($color_oceanie1 75%, $color_oceanie2);
	}
	&.home {
		background: linear-gradient($color_home1 75%, $color_home2);
	}
}
footer.master {
	&.asie {
		background: linear-gradient($color_asie2 25%, $color_asie1 );
	}
	&.europe {
		background: linear-gradient($color_europe2 25%, $color_europe1 );
	}
	&.oceanie {
		background: linear-gradient($color_oceanie2 25%, $color_oceanie1 );
	}
	&.home {
		background: linear-gradient($color_home2 25%, $color_home1 );
	}
}