@font-face {
  font-family: "Asiago";
  src: url("./font/asiago.ttf");
}

header#master.asie{
    background: linear-gradient(#e67e22, 75%, #ea6153);
}

main.asie{
    background: linear-gradient(#ea6153, 25%, #c0392b, 75%, #ea6153);
}

footer#master.asie{
    background: linear-gradient(#ea6153, 25%, #e67e22 );
}

h1.asie, h2.asie, h3.asie{
	color: #ea6153;
}
span.asie, h2.asie, h3.asie {
	font-family:Asiago;
}

header#master.europe{
    background: linear-gradient(#339dff, 75%, #3498db);
}

main.europe{
    background: linear-gradient(#3498db, 25%, #2980b9, 75%, #3498db);
}

footer#master.europe{
    background: linear-gradient(#3498db, 25%, #339dff );
}


header#master.oceanie{
    background: linear-gradient(#b033ff, 75%, #a66bbe);
}

main.oceanie{
    background: linear-gradient(#a66bbe, 25%, #660099, 75%, #a66bbe);
}

footer#master.oceanie{
    background: linear-gradient(#a66bbe, 25%, #b033ff );
}
